@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @style ="margin-right: 15px;"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink($"{User.Identity.GetUserName()}", "Index", "Manage", null, new {title = "Manage"})
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">@GlobalTranslations.LogOut</a>
            </li>
            <li>
                @Html.Partial("_CultureSelector")
            </li>
        </ul>
    }
}
else
{
    <div id="loginContainer" style="margin-right: 15px;">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(GlobalTranslations.Register, "Register", "Account", null, new {id = "registerLink"})</li>
            <li>@Html.ActionLink(GlobalTranslations.LogIn, "Login", "Account", null, new {id = "loginLink"})</li>
            <li>
                @Html.Partial("_CultureSelector")
            </li>
        </ul>
    </div>
}