@model IEnumerable<WebsiteApplication.Models.ViewModels.Institution.InstitutionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@GlobalTranslations.Institutions</h2>

<p>
    @Html.ActionLink(GlobalTranslations.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionEndpointAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionEndpointAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionName)
            </td>
            <td>
                @Html.ActionLink(GlobalTranslations.Edit, "Edit", new {id = item.InstitutionId}) |
                @Html.ActionLink(GlobalTranslations.Details, "Details", new {id = item.InstitutionId}) |
                @Html.ActionLink(GlobalTranslations.Delete, "Delete", new {id = item.InstitutionId})
            </td>
        </tr>
    }

</table>